<%= form_for @entry, :multipart => true, :html => { :class => "form-horizontal new-article" } do |f| %>

  <% if @entry.errors.any? %>
    <div class="errors col-sm-offset-4 col-sm-5">
      <% @entry.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :author_name, 'Nom', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.text_field :author_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author_email, 'Email', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.text_field :author_email, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :kind, 'Type de publication', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.select :kind, Entry.kind.options, {}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, 'Titre', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, 'Contenu', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.text_area :content, :class => "form-control", :cols => 50, :rows => 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :picture, 'Image', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.file_field :picture, :class => "form-control" %>
    </div>
  </div>

  <div id="events-only" style="display: none;">
    <div class="form-group">
      <%= f.label :start_date, 'Date de début', :class => "control-label col-sm-4" %>

      <div class="col-sm-5">
        <%= f.text_field :start_date, :class => 'form-control datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_date, 'Date de fin', :class => "control-label col-sm-4" %>

      <div class="col-sm-5">
        <%= f.text_field :end_date, :class => 'form-control datepicker' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, 'Lien externe', :class => "control-label col-sm-4" %>

    <div class="col-sm-5">
      <%= f.text_field :url, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <%= f.submit 'Soumettre', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
