<div class="entries-show">
  <div class="col-lg-7">
    <h1>
      <%= @entry.title %>
    </h1>

    <div class="content">
      <%= simple_format(@entry.content) %>
    </div>
  </div>

  <div class="col-lg-5">
    <% if @entry.kind.event? %>
      <div class="link">
        <div class="dates-icon">
        </div>

        <div class="dates-content">
          <table>
            <tr>
              <td>Start</td>
              <td>:</td>
              <td><%# date("d-m-Y — H:i", strtotime(@entry.start_date)) %></td>
            </tr>

            <tr>
              <td>End</td>
              <td>:</td>
              <td><%# date("d-m-Y — H:i", strtotime(@entry.end_date)) %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>

    <% if @entry.url.present? %>
      <div class="link">
        <div class="link-icon">
        </div>

        <div class="link-content">
          <a href="<%= @entry.url %>">
            <%= @entry.url %>
          </a>
        </div>
      </div>
    <% end %>

    <hr/>

    <span class="created_by_title">
      <% if @entry.kind.event? %>
        Événement
      <% end %>

      <% if @entry.kind.article? %>
        Article
      <% end %>

      créé par :
    </span>
    <br/>
    <%= @entry.author_name %>

    <div class="created_at">
      <%# date("d-m-Y à H:i", strtotime(@entry.created_at)) %>
    </div>
  </div>

  <div class="row">
    <div class="container picture">
      <img src="<%= @entry.picture.url('large') %>">
    </div>
  </div>
  <div style="clear:both">
  </div>

  <br/><br/>
  <br/><br/>
  <br/><br/>

  <% if @author || @voter %>
    <div style="background-color: yellow;">
      Nombre total de votes: <%= @entry.votes.count %>

      <% if @entry.up_votes.count > 0 %>
        <h3>Votes positifs</h3>
        <ul>
          <% @entry.up_votes.each do |vote| %>
            <li><%= vote.user.name %></li>
          <% end %>
        </ul>
      <% else %>
        <h3>Il n'y a pas de vote positif</h3>
      <% end %>


      <% if @entry.down_votes.count > 0 %>
        <h3>Votes négatifs</h3>
        <ul>
          <% @entry.down_votes.each do |vote| %>
            <li><%= vote.user.name %></li>
          <% end %>
        </ul>
      <% else %>
        <h3>Il n'y a pas de vote négatifs</h3>
      <% end %>
    </div>

    <h3>Commentaires</h3>
    <% @entry.comments.each do |comment| %>
      <strong><%= comment.user.name %></strong> (<%# date("d/m/Y h:i", strtotime(comment.created_at)) %>)<br />
      <!-- <strong><%# comment.user.name %></strong> <%# comment.created_at.diffForHumans() %><br /> -->
      <pre><%= comment.content %></pre>
    <% end %>
  <% end %>

  <% if @voter %>
    <%= form_for @comment, :html => { :class => "form-horizontal new-article" } do |f| %>
      <%= f.hidden_field :entry_id %>
      <%= hidden_field_tag :voter_token, params[:voter_token] %>

      <div class="form-group">
        <%= f.label :content, 'Votre commentaire', :class => "control-label col-sm-4" %>

        <div class="col-sm-5">
          <%= f.text_area :content, :class => "form-control", :cols => 50, :rows => 10 %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
          <%= f.submit 'Commenter', :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>

    <hr>

    <div>
      <% if @entry.has_voted?(@voter) %>
        <h3>Tu as déjà voté !</h3>
      <% else %>
        <p>
          Attention, le vote est définitif !
        </p>
        <p>
          <%= link_to "Accepter la publication de cette soumission", entry_vote_up_path(@entry, :voter_token => params[:voter_token]) %>
          <br/>
          <%= link_to "Refuser la publication de cette soumission", entry_vote_down_path(@entry, :voter_token => params[:voter_token]) %>
        </p>
      <% end %>
    </div>

  <% end %>
</div>

